.idea
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

.idea
gradle
build.gradle
gradle.properties
gradlew
gradlew.bat
local.properties
Powerful Body App.iml
settings.gradle
External Libraries

/build
/libs
/src/androidTest
/src/main/assets
/src/res/drawable
/src/res/drawable-v24
/src/res/mipmap-mdpi
/src/res/mipmap-hdpi
/src/res/mipmap-xhdpi
/src/res/mipmap-xxhdpi
/src/res/mipmap-xxxhdpi
/src/AndroidManifest.xml
/src/app.iml
/src/build.gradle
/src/proguard-rules.pro

.idea/.name
.idea/codeStyles/Project.xml
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/.gitignore
app/build.gradle
app/proguard-rules.pro
app/src/main/AndroidManifest.xml
app/src/main/res/drawable-v24/ic_launcher_foreground.xml
app/src/main/res/drawable/ic_launcher_background.xml
app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
app/src/main/res/mipmap-hdpi/ic_launcher.png
app/src/main/res/mipmap-hdpi/ic_launcher_round.png
app/src/main/res/mipmap-xhdpi/ic_launcher.png
app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
app/src/main/res/mipmap-xxhdpi/ic_launcher.png
app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
build.gradle
gradle.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
settings.gradle

app/src/main/res/drawable-v24/exercise_spinner_item_background.png
app/src/main/res/drawable/body_screen_front.jpg
app/src/main/res/drawable/body_screen_front_mask.jpg
app/src/main/res/drawable/body_screen_reverse.png
app/src/main/res/drawable/body_screen_reverse_mask.png
app/src/main/res/drawable/icon_rotate.png
app/src/main/res/drawable/main_app_gradient.xml
app/src/main/res/drawable/placeholder_image_1.png
app/src/main/res/drawable/placeholder_image_2.png
app/src/main/res/drawable/placeholder_image_3.png

