*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

.idea
gradle
build.gradle
gradle.properties
gradlew
gradlew.bat
local.properties
Powerful Body App.iml
settings.gradle
External Libraries

/build
/libs
/src/androidTest
/src/main/assets
/src/res/drawable
/src/res/drawable-v24
/src/res/mipmap-mdpi
/src/res/mipmap-hdpi
/src/res/mipmap-xhdpi
/src/res/mipmap-xxhdpi
/src/res/mipmap-xxxhdpi
/src/AndroidManifest.xml
/src/app.iml
/src/build.gradle
/src/proguard-rules.pro
